
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: topics.broker.bcandido.com
spec:
  additionalPrinterColumns:
    - JSONPath: .spec.broker
      name: Broker
      type: string
    - JSONPath: .status.status
      name: Status
      type: string
  group: broker.bcandido.com
  names:
    kind: Topic
    listKind: TopicList
    plural: topics
    singular: topic
  scope: Namespaced
  subresources:
    status: { }
  validation:
    openAPIV3Schema:
      description: Topic is the Schema for the topics API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: TopicSpec defines the desired state of Topic
          properties:
            broker:
              type: string
            configuration:
              properties:
                partitions:
                  type: integer
                replication-factor:
                  type: integer
              type: object
            name:
              type: string
          type: object
        status:
          description: TopicStatus defines the observed state of Topic
          properties:
            status:
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
